
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>MainPage</ion-title>
    </ion-toolbar>

</ion-header>



<ion-content>
    <p-menubar [model]="SubMenu" autoZIndex="true" baseZIndex="10000"></p-menubar>
</ion-content>


 

<ion-router-outlet id="content" main></ion-router-outlet>

<!-- <ion-menu contentId="content">
     

         <p-panelMenu [model]="MenuData"    [multiple]="false"
          [style]="{'width':'300px', 'margin-top':'63px', 'padding-left':'4px'}"></p-panelMenu>
          <p-menubar [model]="SubMenu"></p-menubar>
          



</ion-menu> 

<p-menubar [model]="SubMenu"></p-menubar>
<ion-router-outlet id="content" main> <p-menubar [model]="SubMenu"></p-menubar></ion-router-outlet> 
 -->
