// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.align-right{
  *{
    text-align: right !important;
  }
}
.ui-paginator {
  padding-top:20px !important;
}
.rowhighlight{
  background-color: white !important ;
}
.highlight{
  background-color: #d5d5d5 !important;
  color: black;
}
.hiddenclass{
  display: none !important;
  height: 0;
  width: 0;
}  
.myclass{
  width:200px !important;
  min-width:200px !important; 
  input{
      width: 150px;
      min-width: 150px;
  }
}
.inputbox{
  border-bottom: 1px solid #c3c3c3;
  &:hover{
    border: 1px solid gray;
    color: gray;
    background-color: white;
  }
}


//////////////////////////Prime NG Dropdowns/////////////////////////////////////
.ui-multiselect-panel,.ui-dropdown-panel{//primeng multiselect
  min-width: 300px !important;
  width: auto !important;
}
p-multiselect,.ui-multiselect{
  width: 100% !important;
  padding: 0 !important;
  border: 0 !important;
  margin:  0 !important;
}
.ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon {
  margin-left: -2px !important;
}
.ui-dropdown{
  width: 100%;
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance:none;
  outline: none !important;
}
.ui-dropdown:focus,.ui-dropdown:active{
  -webkit-appearance: none;
  -moz-appearance:none;
  outline: none !important;
}

.ui-table .ui-table-caption
{//caption template
  height: 50px!important;
}

//primeng rowsperpageoption dropdown
.ui-paginator .ui-dropdown
{
    max-width: 80px !important;
}

.ui-table .ui-paginator-bottom
{
    border-top: 1!important;
}
////////////////////////////////////////////////////////End Prime NG dropdowns

/////////////////Prime Table/////////////////////////
.ui-table-resizable .ui-table-thead>tr>th, .ui-table-resizable .ui-table-tfoot>tr>td, .ui-table-resizable .ui-table-tbody>tr>td
{
  max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  input{
    width: 95%!important;
    text-align: center;
  }
}
.ui-table .ui-table-thead > tr > th {
  
  //height: 97px;
  width: 100px;
  font-size: 11px;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  input{
    // border:0 !important;
    // background-color: transparent !important;
    width: 95%;
    text-align: center;
  }
}
.ui-table .ui-table-tbody > tr {
  background-color: none !important;
}
.ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: none !important;
}
.ui-table .ui-table-tbody > tr:nth-child(odd) {
  background-color: none !important;
}
.ui-table .ui-table-tbody > tr > td >{
  padding: 2px !important;
  width: 100px !important;
  min-height: 30px !important;
  height:30px !important;
  max-height: 30px !important;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  text-align: left;
  *{  
  min-height: 30px !important;
  height: 30px !important;
  max-height: 30px !important;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  background-color: none !important;
  text-align: left !important;
  }
  
}
td {
  width: 100px !important;
  min-height: 30px !important;
  height:30px !important;
  max-height: 30px !important;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  text-align: left;
  font-size: 11px;
  padding: 3px!important;
  *{  
  
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  background-color: none !important;
  text-align: left !important; 
  }

}
////////////////////////End of Prime Table/////////////////////////

////////////////Prime NG Treetable//////////////////////////////////
.ui-treetable .ui-treetable-tbody > tr > td .ui-treetable-toggler
{
  height: 25px;
}

.ui-treetable .ui-treetable-tbody > tr {
  background-color: none !important;
}
.ui-treetable .ui-treetable-tbody > tr:nth-child(even) {
  background-color: none !important;
}
.ui-treetable .ui-treetable-tbody > tr:nth-child(odd) { 
  background-color: none !important;
}
.ui-treetable .ui-treetable-thead > tr > th {
  
  font-size: 11px !important;
  input{
    // border:0 !important;
    // background-color: transparent !important;
    width: 95%;
    text-align: center;
  }
}

.ui-treetable .ui-treetable-tbody > tr > td {
  border:1px !important solid #c3c3c3;
  font-size: 11px;
  padding: 3px!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 35px;
  min-height: 35px;
}

.ui-treetable .ui-treetable-tfoot > tr > td {
  //border:1px !important solid #c3c3c3;
  font-size: 11px;
  padding: 3px!important;
}

.ui-treetable .ui-paginator-bottom
{
  margin-top: 20px;
}

.ui-tree .ui-treenode-parent .ui-treenode-label {
  background-color:#CCCCCC;
  }
  
  .ui-tree .ui-treenode-children .ui-treenode-label {
  background-color:#E1DFD7;
  }

  .ui-treetable .ui-editable-column input
  {
    color: #333333;
    width: 90%;
    text-align: center;
    height: 25px;
    font-size: 12px;
  }
/////////////////////End PrimeNG Treetable//////////////////////

// .ui-treetable .ui-treetable-thead > tr > th {
//   //border:0 !important;
//   font-size: 11px !important;
//   input{
//     border:0 !important;
//     background-color: transparent !important;
//   }
// }

// .ui-treetable .ui-treetable-tbody > tr > td {
//   // border:0 !important;
//   font-size: 11px;
//   padding: 3px;
// }
.my-class{
  
  background-color: #f5f5f5 !important;
}
.largecol{
  width: 120px !important;
}
.red{
  color:red;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 2px; 
}
ion-content{
  --background-color:#fafbfd;
  ion-button{
    --border-radius:0;
  }
}
.mobile-label,.hidden,.hidden-item{
  display: none;
}
mat-card,.mat-accordion{
  border-radius:0 !important;
}
.table,mat-table{
  max-height: 400px;
  overflow: auto;
  *{
    font-size: 11px !important;
  }
}
.mat-header-row,.mat-footer-row,.mat-row,.mat-header-cell,.mat-footer-cell,.mat-cell{
  min-height: 35px !important;
  justify-content: flex-start;
  border-bottom-style: none;
}
.mat-header-row,.mat-header-cell{
  align-items: flex-start;
  line-height: 1;
  padding-top: 10px !important;
}
.mat-cell{
  word-break:break-word;
}
.mat-header-cell{
  font-size: 11px;
  font-weight: bolder !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgba(2, 2, 2, 0.87);
  padding-left: 2px !important;
}
.mat-cell{
  font-size: 11px !important;
  font-weight: 300 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgba(2, 2, 2, 0.87);
  padding-left: 2px !important;
}
.mat-row,.mat-header-row,.mat-footer-row{
  padding: 0 10px 0 10px!important;
}
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 0 !important;
}
.mat-footer-row,.mat-footer-cell{
  align-items: flex-end !important;
}
.mat-cell{
  ion-input{
    text-align: right !important;
    border-bottom: 1px solid #c3c3c3;
    margin-left: 3px;
    margin-bottom: 3px;
  }
}
.report-table{
  .mat-row:nth-child(odd),.mat-footer-row{
    background-color: #f5f5f5;
  }
  .mat-header-row{
    background-color: #e9e0e0;
  }
}
.table {
  .mat-row:nth-child(4n),.mat-footer-row {
      background-color: #f5f5f5 !important;
  }
  .mat-header-row{
    background-color: #e9e0e0;
  }
}
.pivot-table{
  .mat-row:nth-child(4n),.mat-footer-row{
    background-color: #f5f5f5 !important;
  }
  .mat-header-row{
    background-color: #e9e0e0;
  }
}
.numb-cell, .numb-header {
  justify-content: flex-end;
  float: right;
  text-align: right !important;
  .mat-sort-header-container{
    flex-direction: row-reverse;
  }
}
.filterCard{
  width: 17%;
  z-index: 200;
  position: fixed !important;
  right:0;
  top: 0;
  margin: 0 !important;
  height: 100%;
  background-color: white;
  overflow: auto;
}
.mat-card{
  padding-bottom: 0 !important;
  .mat-card-header{
    .mat-card-header-text{
      margin: 0;
    }
    justify-content: space-between;
  }
}
.search-box{
  border: 1px solid #c3c3c3;
  font-size: 12px !important;
  width: 170px !important;
  padding: 5px !important;
  height: 25px;
  font-weight: 300;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-box:focus{
  background-color: #ffffff;
}
:host ::ng-deep.mat-expansion-panel .mat-expansion-panel-body{
  padding: 0 !important;
}
.mat-expansion-panel{
  mat-panel-title{
    font-size: 20px;
  }
  .mat-expansion-panel-header-description {
    flex-grow: 0 !important;
  }
  .mat-card{
    box-shadow: none;
    border: none;
    padding: 0 !important;
  }

}

.mat-paginator .mat-paginator-container{
  padding: 0;
  flex-direction: row !important;
  justify-content: space-between !important;
  font-size: 16px;
}
.mat-expansion-panel-header{
  max-height: 55px !important;
}

@media(min-width:600px){
  .big{
    width:25% !important;
    min-width: 15%;
    white-space: normal;
  }
  .int-cell,.int-footer,.int-header,.decimal-header,.decimal-footer,.decimal-cell{
    justify-content: flex-end;
    float: right;
    text-align: right !important;
    .mat-sort-header-container{
      flex-direction: row-reverse;
    }
  }
}


@media(max-width:600px){
  .detail-elements {
  float: left;
  width: 100%;
}
table,.mat-table{
  height: auto;
}
.search-box{
  margin-top: 0px;
  height: 30px;
  max-width: 140px;
}
.mat-cell,.mat-column-Detail {
  width: 100% !important;
}
.hidden-item{
  display: inline-block;
}
.mobile-label {
  width: auto;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  width:120px;
}
.mat-header-cell:first-of-type,.mat-cell:first-of-type{
  padding: 5px !important;
}
.mat-header-row,.mat-footer-row {
  display: none;
}
.mat-row {
  flex-direction: column;
  align-items: start;
}
.filterCard{
  width: 80%;
}
ion-button{
  margin:0;
}  
.mat-paginator .mat-paginator-container{
  justify-content: center !important;
  flex-direction: column !important;
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  white-space: nowrap;
}

}
#cover {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background: rgba(0,0,0,0.35) !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 500% !important;
  cursor: wait !important;
  .message {
      background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
      position: absolute !important;
      transform: translate(89%, 49%) !important;
      width: 35% !important;
      text-align: center !important;
      padding: 3% !important;
      box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  }
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #dddddd;
  font-weight: 300;
  color: black;
}

// :host ::ng-deep .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
//   box-sizing: border-box;
//   position: relative;
//   /* -webkit-user-select: none; */
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   cursor: pointer;
//   outline: 0;
//   border: none;
//   -webkit-tap-highlight-color: transparent;
//   display: inline-block;
//   white-space: nowrap;
//   text-decoration: none;
//   vertical-align: baseline;
//   text-align: center;
//   margin: 0;
//   min-width: 64px;
//   line-height: 36px;
//   padding: 0 16px;
//   border-radius: 4px;
//   overflow: visible;
// }
