.new-background-color {
    --background: #ffb01a;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.submit-btn {
    --background: #ffb01a;
    --color: #161b12;
    position: center;
}
@media all and (max-width: 600px) 
{
    .message{
        //background-image: white;
        background-image: linear-gradient(200deg,#7579ff,#b224ef 70%);
            background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
            position: absolute;
            transform: translate(0%, 49%);
            width: 86%;
            text-align: center;
            padding: 1%;
            box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }
    }
    @media all and (min-width: 600px) 
    {
        .message{
            //background-image: white;
            background-image: linear-gradient(200deg,#7579ff,#b224ef 70%);
                background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
                position: absolute;
                transform: translate(89%, 18%);
                width: 35%;
                text-align: center;
                padding: 3%;
                box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }
        }

        #cover{
            position:fixed;
            top:52%;
            left:0;
            z-index:5;
            width:100%;
            height:500%;
            //display:none;
            cursor: wait;
        
        }
        .messages{
       
            position: absolute;
            transform: translate(285%, 200%);
                        width: 15%;
            text-align: center;
            padding: 3%;
        }

        @media all and (max-width: 600px) 
        {
            .video{
                width: 164%;
                height: 327px;
                margin-left: -118px;
            }
            
            .message1{
                //background-image: white;
               // background-image: linear-gradient(200deg,#7579ff,#b224ef 70%);
                   // background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
                   display:none;
                   position: absolute;
            -webkit-transform: translate(4%, 25%);
            transform: translate(-1%, 64%);
            width: 102%;
            text-align: center;
            padding: 1%;
            /* box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
                }
            }
            @media all and (min-width: 600px) 
            {
                .video{
                    width: 100%;
                    height: 349px;
                }
                .message1{
                    background-image: white;
            // background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
            // position: absolute;
            // overflow: auto;
            // -webkit-transform: translate(89%, 49%);
            // transform: translate(59%, 26%);
            // width: 46%;
            // height: 17%;
            // text-align: center;
            // padding: 3%;
            // box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
                }
            }

            @media all and (max-width: 600px) 
            {
                .video{
                    width: 164%;
                    height: 327px;
                    margin-left: -118px;
                }
                
                .message2{
                    //background-image: white;
                   // background-image: linear-gradient(200deg,#7579ff,#b224ef 70%);
                       // background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
                       display: block;
                /* box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
                    }
                }
                @media all and (min-width: 600px) 
                {
                    .video{
                        width: 100%;
                        height: 349px;
                    }
                    .message2{
        
                       display:none;
                // background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
                // position: absolute;
                // overflow: auto;
                // -webkit-transform: translate(89%, 49%);
                // transform: translate(59%, 26%);
                // width: 46%;
                // height: 17%;
                // text-align: center;
                // padding: 3%;
                // box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
                    }
                    
                }
/*:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }
}

.paz {
    position: relative;
    z-index: 10;
}
*/
