
.Login-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height:70px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
}
.new-background-color {
    --background: #ffb01a;
}

