<ion-footer style="height:40px">
    <ion-toolbar>
        <ion-title style="font-size:small; font-style:normal;" center>Copyright 2018-2019 Inquizity. All rights reserved.</ion-title>
    </ion-toolbar>
</ion-footer>
