.align-right {
    * {
        text-align: right !important;
    }
}

.CustomizedColumnsDropdown { //primeng table show/hide columns dropdown
    width: 20%;
    float: right;
}


.align-right{//primeng numbers right align
  *{
    text-align: right !important;
  }
}
.highlight{//primeng column highlight
  background-color: #d5d5d5 !important;
  color: black;
}

.myclass{//primeng column width for data type 'text'
  width:200px !important;
  min-width:200px !important; 
  input{
      width: 150px;
      min-width: 150px;
  }
}

.myClickState {
    border-color: lime !important;
}

.divitemclass {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d3d3d3;
    height: 57px;
}

.ui-multiselect-panel, .ui-dropdown-panel {
    min-width: 300px !important;
    width: auto !important;
}

.ui-multiselect {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

.ui-dropdown {
    width: 100%;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none !important;
}

.ui-dropdown:focus, .ui-dropdown:active {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none !important;
}

.itemclass {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 12px;
}

.labelclass {
    font-size: 10px;
    margin-left: 5px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.icon-display {//mat-icon in mat table
    width: 11px !important;
    height: 11px !important;
    transform: scale(2);
}
ion-content {
    --background-color: #fafbfd;

    ion-button {
        --border-radius: 0;
    }
}


agm-map {
    height: 300px;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.35);
    z-index: 5;
    width: 100%;
    height: 500%;
    //display:none;
    cursor: wait;
}

.message {
    // background-image: white;
    background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
    position: absolute;
    transform: translate(89%, 49%);
    width: 35%;
    text-align: center;
    padding: 3%;
    box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.hidden-item {
    display: none;
}

.required-field {
    color: red;
}

.no-data-available {
    text-align: center;
}

.dataTables_empty {
    display: none;
}

td {
    text-align: center;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 12px;
    width: 100%;
    color: black;
}


.mat-table {
    overflow: auto;
    max-height: 500px;
}

.example-detail-row {
    height: auto;
    padding-top: 30px;
    display: inline-block;
    width: 100%;
}

.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

table {
    width: 100%;
}


td, th {
    width: 25%;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;

    * {
        font-size: 11px !important;
    }
}

.mobile-label, .hidden, .hidden-item {
    display: none;
}

.detail-elements {
    float: left;
    font-size: 12px;
    width: 50%;
}

.mat-cell {
    // font-family: Roboto;
    font-size: 11px !important;
    font-weight: 300 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.18px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 5px !important;
}


.mat-cell > .ion-color-warning {
    width: 100%;
    font-size: 11px;
    text-transform: capitalize;
    white-space: nowrap;
}

.mat-cell > .action-button-with-text {
    min-width: 15%;
    width: 15%;
    max-width: 15%;
}

.mat-cell.mat-column-Detail, .mat-header-cell.mat-column-Detail {
    max-width: 40px !important;
    padding: 5px;
}

.mat-header-cell:first-of-type, .mat-cell:first-of-type {
    padding-left: 16px !important;
}

// .mat-header-cell.mat-column-Detail {
//     //max-width: 40px !important;
//     //padding:5px;
// }
// mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
//     padding-left: 0px !important;
// }

mat-header-cell {
    //color:#383a3b!important;
    font-weight: bold !important;
    //justify-content: left;
    //margin-left:10px!important;
}

// mat-cell, mat-footer-cell, mat-header-cell {
//     overflow: visible !important;
// }
// mat-footer-row, mat-header-row, mat-row
// {
//     padding-left:5px;
// }
@media(max-width: 800px) {
    .detail-elements {
        float: left;
        width: 100%;
    }

    .search-box {
        margin-top: 10px;
        height: 30px;
    }

    .mat-cell.mat-column-Detail {
        width: 100% !important;
    }

    .mobile-label {
        width: auto;
        display: inline-block;
        font-weight: bold;
        font-size: 11px;
        margin-right: 5px;
    }

    .hidden, .hidden-item {
        display: inline-block;
    }

    .mat-header-row {
        display: none;
    }

    .mat-footer-row {
        display: none;
    }

    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }

    .filterCard {
        width: 80%;
    }

    ion-button {
        margin: 0;
    }

    .mat-expansion-panel-header {
        max-height: 48px !important;
    }

    :host ::ng-deep .mat-paginator .mat-paginator-container {
        justify-content: center !important;
        flex-direction: column !important;
    }

    .mat-header-cell:first-of-type, .mat-cell:first-of-type {
        padding-left: 0px !important;
    }
}


.mat-header-cell {
    // font-family: Roboto;
    font-size: 11px;
    font-weight: bolder !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.18px;
    text-align: center;
    color: black;
    min-height: 35px !important;
    padding: 5px !important;
    justify-content: flex-start;
    border-bottom-style: none;
}

.mat-header-row, .mat-footer-row, .mat-row, .mat-footer-cell, .mat-cell {
    min-height: 35px !important;
    padding: 0 !important;
    justify-content: flex-start;
    border-bottom-style: none;
}


.mat-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    //
    ion-button {
        //margin-left:auto;
        width: 100px !important;
    }
}

:host ::ng-deep .mat-paginator .mat-paginator-container {
    padding: 0;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.mat-footer-row, .mat-footer-cell {
    align-items: flex-end !important;
}

.report-table {
    .mat-row:nth-child(odd), .mat-header-row, .mat-footer-row {
        background-color: #f5f5f5;
    }
}

.pivot-table {
    .mat-row:nth-child(4n), .mat-header-row, .mat-footer-row {
        background-color: #f5f5f5 !important;
    }
}

.table {
    .mat-row:nth-child(4n), .mat-header-row, .mat-footer-row {
        background-color: #f5f5f5 !important;
    }
}

.report-table {
    .mat-row:nth-child(odd), .mat-header-row, .mat-footer-row {
        background-color: #f5f5f5;
    }
}


.filterCard {
    width: 17%;
    z-index: 10;
    position: fixed !important;
    right: 0;
    top: 0;
    margin: 0 !important;
    height: 100%;
    background-color: white;
    overflow: auto;
}

.mat-card {
    padding-bottom: 0 !important;

    .mat-card-header {
        .mat-card-header-text {
            margin: 0;
        }

        justify-content: space-between;
    }
}

.search-box {
    border: 1px solid #c3c3c3;
    font-size: 12px !important;
    width: 200px !important;
    padding: 5px !important;
    background-color: #fafbfd;
    height: 25px;
    border-radius: 3px;
}

.search-box:focus {
    background-color: #ffffff;
}

.mat-expansion-panel {
    mat-panel-title {
        font-size: 20px;
    }

    .mat-expansion-panel-header-description {
        flex-grow: 0 !important;
    }

    .mat-card {
        padding: 0 !important;
        border: none;
        box-shadow: none;
    }
}

.mat-paginator .mat-paginator-container {
    padding: 0;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.mat-expansion-panel-header {
    max-height: 48px !important;
}

@media(min-width: 600px) {
    .link_column {
        min-width: 100px;
        width: 100px;
        max-width: 100px;
        justify-content: center;
        padding: 0px !important;
    }


    .big {
        min-width: 20%;
        width: 20%;
        max-width: 20%;
    }

    .numb-cell, .numb-header {
        justify-content: center !important;
      //  justify-content: flex-end !important;
    }


    .numb-header {
        .mat-sort-header-container {
            flex-direction: row-reverse !important;
        }
    }

    //susan added - start
    ion-select {
        font-weight: bold;
        font-size: 11px;
    }
    //susan added - end
}
