
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>

        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
                    <mat-accordion>

    <mat-expansion-panel *ngIf="!ModuleIDList.includes(33)" [expanded]="true" #form33>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Enter New Calender Activity
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form name="form" (ngSubmit)="f_form_33.form.valid && onSubmit(f_form_33.value,33,0)" #f_form_33="ngForm" novalidate>
            <ion-list>
                <ion-grid>
                    <ion-row>
                                <ion-col size="4" style="display:none">
    <ion-input type="hidden" id="ID1653" name="ID" #ID1653="ngModel" value="{{Module && Module[0].moduleList[0].moduleDetails[0].value}}" [(ngModel)]="Module && Module[0].moduleList[0].moduleDetails[0].value"></ion-input>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
        <ion-item *ngIf="Module">
            <ion-label position="floating" style="white-space:normal">Activity Name</ion-label>
            <ionic-selectable [items]="Module[0].moduleList[0].moduleDetails[1].DropDownValues"
                              itemValueField="Value"
                              itemTextField="Text"
                              [canSearch]="true"
                              searchPlaceholder="Select Activity Name"
                              Placeholder="Select Activity Name"
                              id="ActivityID1654" name="ActivityID"
                              [canClear]="true"
                              (onClear)="SelectionClear($event)"
                              [(ngModel)]="Module[0].moduleList[0].moduleDetails[1].value">
            </ionic-selectable>
        </ion-item>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
<ion-label position="floating" style="white-space:normal"> Role</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                (ionChange)="GetDependentDropDownThroughValue('1655', $event,'ForUser')"
                placeholder="Select Role" name="Role" id="Role" *ngIf="Module" [(ngModel)]="Role">
        <ion-select-option [value]="Role" *ngFor="let Role of Module[0].moduleList[0].moduleDetails[2].DropDownValues">
            {{Role?.Text}}
        </ion-select-option>
    </ion-select>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
<ion-label position="floating" style="white-space:normal"> User</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" id="ForUser"
                placeholder="Select User" name="ForUser" *ngIf="Module" [(ngModel)]="ForUser">
        <ion-select-option [value]="ForUser" *ngFor="let ForUser of DropDown['ForUser']">
            {{ForUser?.Text}}
        </ion-select-option>
    </ion-select>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
                <mat-form-field>
                        <input matInput [matDatepicker]="picker1657" id="ScheduleDate1657" name="ScheduleDate" placeholder="Schedule Date" #ScheduleDate1657="ngModel" min="{{minDate}}" max="{{maxDate}}" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"
                                   pattern=".*" [(ngModel)]="Module && Module[0].moduleList[0].moduleDetails[4].value" />
                    <mat-datepicker-toggle matSuffix [for]="picker1657"></mat-datepicker-toggle>
                    <mat-datepicker #picker1657></mat-datepicker>
                </mat-form-field>
            <div *ngIf="ScheduleDate1657?.invalid && (ScheduleDate1657?.dirty || ScheduleDate1657?.touched)"
                 class="error">
                <div *ngIf="ScheduleDate1657?.errors?.pattern">
                    Schedule Date not valid.
                </div>

            </div>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
            <ion-item *ngIf="Module">
                <ion-label position="floating" style="white-space:normal">Schedule Time</ion-label>
                <ion-datetime type="time" id="ScheduledTime1658" name="ScheduledTime" displayFormat="hh:mm A" value="{{Module && Module[0].moduleList[0].moduleDetails[5].value}}" pattern=".*" [(ngModel)]="Module && Module[0].moduleList[0].moduleDetails[5].value"></ion-datetime>
            </ion-item>
            <div *ngIf="ScheduledTime1658?.invalid && (ScheduledTime1658?.dirty || ScheduledTime1658?.touched)"
                 class="error">
                <div *ngIf="ScheduledTime1658?.errors?.pattern">
                    Schedule Time not valid.
                </div>

            </div>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
    <ion-item *ngIf="Module">
        <ion-label position="floating" style="white-space:normal">To Email</ion-label>
        <ionic-selectable [items]="Module[0].moduleList[0].moduleDetails[6].DropDownValues"
                          itemValueField="Value"
                          itemTextField="Text"
                          [canSearch]="true"
                          searchPlaceholder="Select To Email"
                          Placeholder="Select To Email"
                          id="EnterToEmail1659" name="EnterToEmail"
                          [canClear]="true"
                          [isMultiple]="true"
                          (onClear)="SelectionClear($event)"
                          [(ngModel)]="Module[0].moduleList[0].moduleDetails[6].value">
        </ionic-selectable>
    </ion-item>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
    <ion-item *ngIf="Module">
        <ion-label position="floating" style="white-space:normal">Cc Email</ion-label>
        <ionic-selectable [items]="Module[0].moduleList[0].moduleDetails[7].DropDownValues"
                          itemValueField="Value"
                          itemTextField="Text"
                          [canSearch]="true"
                          searchPlaceholder="Select Cc Email"
                          Placeholder="Select Cc Email"
                          id="EnterCcEmail1660" name="EnterCcEmail"
                          [canClear]="true"
                          [isMultiple]="true"
                          (onClear)="SelectionClear($event)"
                          [(ngModel)]="Module[0].moduleList[0].moduleDetails[7].value">
        </ionic-selectable>
    </ion-item>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
            <ion-item *ngIf="Module">
                <ion-label position="floating" style="white-space:normal">  Enter Email Subject </ion-label>
                    <ion-input type="string" value="{{Module && Module[0].moduleList[0].moduleDetails[8].value}}" id="EnterEmailSubject1661" name="EnterEmailSubject" pattern=".*" [(ngModel)]="Module && Module[0].moduleList[0].moduleDetails[8].value"></ion-input>
            </ion-item>
            <div *ngIf="EnterEmailSubject1661?.invalid && (EnterEmailSubject1661?.dirty || EnterEmailSubject1661?.touched)"
                 class="error">
                <div *ngIf="EnterEmailSubject1661?.errors?.pattern">
                    Enter Email Subject not valid.
                </div>

            </div>
    </ion-col>
                                    <ion-col size-lg="4" size-xs="12">
            <ion-item *ngIf="Module">
                <ion-label position="floating" style="white-space:normal">  Notifcation Message </ion-label>
                    <ion-input type="string" value="{{Module && Module[0].moduleList[0].moduleDetails[9].value}}" id="EnterEmailBody1662" name="EnterEmailBody" pattern=".*" [(ngModel)]="Module && Module[0].moduleList[0].moduleDetails[9].value"></ion-input>
            </ion-item>
            <div *ngIf="EnterEmailBody1662?.invalid && (EnterEmailBody1662?.dirty || EnterEmailBody1662?.touched)"
                 class="error">
                <div *ngIf="EnterEmailBody1662?.errors?.pattern">
                    Notifcation Message not valid.
                </div>

            </div>
    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
            <ion-button size="small" type="submit" class="submit-btn" [disabled]="!f_form_33.form.valid">Submit</ion-button>
        
    </form>
</mat-expansion-panel>

<mat-expansion-panel [expanded]="true" #table34>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Saved Calendar Activities
        </mat-panel-title>
        <mat-panel-description>

            <input *ngIf="table34.expanded" class="search-box" (keyup)="applyFilterForTable($event.target.value,0)" (click)="$event.stopPropagation()" placeholder="Search">
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
       
        <mat-card-content>
          
            <mat-table class="report-table" #reporttable34 [dataSource]="MyDataSourceArray[0]" #SecondTableSort="matSort" multiTemplateDataRows matSort class="isMobile report-table" matSortActive="" matSortDirection="">


                <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumnArray[0]">
                    <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
                    <mat-cell *matCellDef="let element"  (click)="$event.stopPropagation()"> {{ element[col] }} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnArray[0]"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnArray[0];"></mat-row>

            </mat-table>
            <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
        
    </mat-card>
    </mat-expansion-panel>

                    </mat-accordion>


</ion-content>

