
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>

        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
        <div style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
            <ion-button (click)="showfilter=!showfilter"><ion-icon name="funnel" mode="ios"></ion-icon>filter</ion-button>
        </div>
        <mat-card [hidden]="!showfilter" class="filterCard filter">
              <div style="margin-bottom: 30px;margin-top: 10px;">
                  <button (click)="showfilter=!showfilter" style="color:blue;background-color: none;background:none;float:right;margin-bottom: 20px;">HIDE</button>
              </div>
            <mat-card-content>
                <form #f_filter_10="ngForm" (ngSubmit)="onSubmitFilter(f_filter_10.value)">
    <div class="ui-fluid p-formgrid p-grid">

                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                    <label for="Type">Type</label>
                    <p-dropdown [filter]="true" [options]="PageMenuDetails[0].DropDownValues" ngModel name="Type" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                </div>
                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                    <label for="UOM">UOM</label>
                    <p-dropdown [filter]="true" [options]="PageMenuDetails[1].DropDownValues" ngModel name="UOM" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                </div>
                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                    <label for="View">View</label>
                    <p-dropdown [filter]="true" [options]="PageMenuDetails[2].DropDownValues" ngModel name="View" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                </div>
                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                    <label for="Location">Location</label>
                    <p-dropdown [filter]="true" [options]="PageMenuDetails[3].DropDownValues" ngModel name="Location" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                </div>
                <div *ngIf="Module" class="p-field p-col-12 p-md-6 filterInputs">
                    <label for="SubRegion">SubRegion</label>
                    <p-dropdown [filter]="true" [options]="PageMenuDetails[4].DropDownValues" ngModel name="SubRegion" placeholder=" " optionLabel="Text" appendTo="body" [showClear]="true"></p-dropdown>
                </div>
    </div>
    <div class="p-field p-col-12" style="margin-top: 20px;width:100%;">
        <button pButton label="Apply Filters" type="submit" [disabled]="!f_filter_10.form.valid" routerDirection="forward"></button>
    </div>
</form>
            </mat-card-content>
        </mat-card>

                    <mat-accordion>
                    </mat-accordion>


</ion-content>

