
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>

        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
                <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                    <ion-fab-button (click)="downloadreport()">
                        <ion-icon name="download"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
        <div style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
            <ion-button (click)="showfilter=!showfilter"><ion-icon name="funnel" mode="ios"></ion-icon>filter</ion-button>
        </div>
        <mat-card [hidden]="!showfilter" class="filterCard">
            <ion-item lines="none">
                <ion-button fill="clear" (click)="showfilter=!showfilter" slot="end">Hide</ion-button>
            </ion-item>
            <mat-card-content>
                <form #f_filter_19="ngForm" (ngSubmit)="GetPaginatedPrimeNgTable(f_filter_19.value, '', 19)">
                    <ion-list>
                        
                        <ion-item *ngIf="Module">
                            <ion-label position='floating'>UOM</ion-label>
                            <ionic-selectable [items]="PageMenuDetails[0].DropDownValues"
                                              itemValueField="Value"
                                              itemTextField="Text"
                                              [canSearch]="true"
                                              searchPlaceholder="Select UOM"
                                              Placeholder="Select UOM"
                                              name="UOM"
                                              [canClear]="true"
                                              (onClear)="SelectionClear($event)"
                                              ngModel>
                            </ionic-selectable>
                        </ion-item>
                        <ion-item *ngIf="Module">
                            <ion-label position='floating'>View</ion-label>
                            <ionic-selectable [items]="PageMenuDetails[1].DropDownValues"
                                              itemValueField="Value"
                                              itemTextField="Text"
                                              [canSearch]="true"
                                              searchPlaceholder="Select View"
                                              Placeholder="Select View"
                                              name="View"
                                              [canClear]="true"
                                              (onClear)="SelectionClear($event)"
                                              ngModel>
                            </ionic-selectable>
                        </ion-item>
            </ion-list>
                    <ion-button expand="block" position="center" class="submit-btn"
                                    full type="submit" [disabled]="!f_filter_19.form.valid" routerDirection="forward">
                        Apply Filters
                    </ion-button>
                </form>
            </mat-card-content>
        </mat-card>
                    <mat-accordion>
    <mat-expansion-panel [expanded]="true" #table19>
        <mat-expansion-panel-header>
            <mat-panel-title>
                SKU Level Report APAC
            </mat-panel-title>
            <mat-panel-description>

                <div style="text-align: right">
                    <input *ngIf="table19.expanded" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" #f_datatable_19="ngForm" novalidate>
            <mat-card>
                <mat-card-header class="new-background-color">
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="frozenColsArray[0] && scrollableColsArray[0] && primeNgTableArray[0]">
                        <p-table #dt [columns]="scrollableColsArray[0]" [frozenColumns]="frozenColsArray[0]" [rows]="10" [paginator]="true"
                         [rowsPerPageOptions]="[5,10,20,50]"
                        [lazy]="true" (onLazyLoad)="loadLazy(f_filter_19.value, $event, 19)" [totalRecords]="totalRecordsPrimeNg"
                                 [value]="primeNgTableArray[0]" [scrollable]="true" scrollHeight="200px" frozenWidth="1300px" [resizableColumns]="true" [reorderableColumns]="true">


                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.ColumnName" style="width:100px;" pResizableColumn pReorderableColumn [ngClass]="{'myclass':col.DataType=='Text','highlight':col.Highlight == 'true'|| col.ColumnName == 'Q1'|| col.ColumnName == 'Q2'|| col.ColumnName == 'Q3'|| col.ColumnName == 'Q4'||col.ColumnName == 'Q5'||col.ColumnName == 'Q6'}">
                                        {{col.ColumnHeader}}
                                        <p-sortIcon [field]="col.ColumnName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>

                                </tr>
                                <tr>
                                    <th *ngFor="let col of columns" style="height: 30px;max-height: 30px;"[ngClass]="{'myclass':col.DataType=='Text','highlight':col.Highlight == 'true'|| col.ColumnName == 'Q1'|| col.ColumnName == 'Q2'|| col.ColumnName == 'Q3'|| col.ColumnName == 'Q4'||col.ColumnName == 'Q5'||col.ColumnName == 'Q6'}">
                                        <input pInputText type="text" (input)="dt.filter($event.target.value, col.ColumnName, 'contains')" style="max-width:75px;">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [ngClass]="{'rowhighlight': rowData.Type == 'Consensus'}">
                                    <td pEditableColumn *ngFor="let col of columns" [title]="rowData[col.ColumnName]"
                                    [ngClass]="{'myclass':col.DataType=='Text','highlight':col.Highlight == 'true'|| col.ColumnName == 'Q1'|| col.ColumnName == 'Q2'|| col.ColumnName == 'Q3'|| col.ColumnName == 'Q4'||col.ColumnName == 'Q5'||col.ColumnName == 'Q6'}">
                                        <div *ngIf="col.InputControls != 'TextBox' && col.InputControls != 'HiddenField'">
                                            {{rowData[col.ColumnName]}}
                                        </div>
                                        <div *ngIf="col.InputControls == 'TextBox'  && col.InputControls != 'HiddenField'" class="inputbox">
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                  
                                                     {{rowData[col.ColumnName]|number : '1.2-2'}}
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    
                                                    {{rowData[col.ColumnName]|number : '1.2-2'}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer" let-columns>
                                <tr *ngIf="Module">
                                    <td *ngFor="let col of columns" [ngClass]="{'myclass':col.DataType=='Text','highlight':col.Highlight == 'true'|| col.ColumnName == 'Q1'|| col.ColumnName == 'Q2'|| col.ColumnName == 'Q3'|| col.ColumnName == 'Q4'||col.ColumnName == 'Q5'||col.ColumnName == 'Q6'}">
                                        {{calculatePrimengTotal(col.ColumnName,dt)| number :'1.0-2'}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>


                    </div>
                    <div>
                        <ion-button size="small" type="submit" class="submit-btn" (click)="SubmitPrimeNgTable(19,10,f_filter_19.value)" float-right></ion-button>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-expansion-panel>

                    </mat-accordion>


</ion-content>

