<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>MainPage</ion-title>
    </ion-toolbar>

</ion-header>



<ion-content>
    <!--<div [ngSwitch]="MenuId">
        <template [ngSwitchCase]="1">
            ${require('./menu1/menu1.html')}
        </template>
        <template ngSwitchDefault>
            ${require('./menu1/menu1.html')}
        </template>
    </div>-->


    <ion-tabs>

        <ion-tab-bar slot="top" *ngIf="SubMenu">
            <ion-tab-button tab="{{p.ID}}" *ngFor="let p of SubMenu">
                <ion-icon name="flash"></ion-icon>
                <ion-label>{{p.MenuName}}</ion-label>
            </ion-tab-button>
        </ion-tab-bar>

    </ion-tabs>
    <!--<a routerLink="page1">page1</a>-->
</ion-content>

