
<!-- Loader Starts-->
<div *ngIf="show" id="cover">
    <div ng-show="showLoader" class="center">
        <div class="message">
            Please wait ... <br>
            <svg width="55px" height="67px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>

        </div>
    </div>
</div>
<!-- Loader Ends-->


<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="downloadreport()">
            <ion-icon name="download"></ion-icon>
        </ion-fab-button>
    </ion-fab>
<div style="display:flex;justify-content: flex-end;margin-bottom: 10pt;">
<ion-button (click)="showfilter=!showfilter"><ion-icon name="funnel" mode="ios"></ion-icon>filter</ion-button>
</div>
<mat-card [hidden]="!showfilter" class="filterCard">
<ion-item lines="none">
    <ion-button fill="clear" (click)="showfilter=!showfilter" slot="end">Hide</ion-button>
</ion-item>
<mat-card-content>
    <form #f_filter_21="ngForm" (ngSubmit)="GetPaginatedTreeTable(f_filter_21.value, '',21)">
        <ion-list>
            
            <ion-item *ngIf="PageMenuDetails">
                <ion-label position='floating'>UOM</ion-label>
                <ionic-selectable [items]="PageMenuDetails[0].DropDownValues"
                                  itemValueField="Value"
                                  itemTextField="Text"
                                  [canSearch]="true"
                                  searchPlaceholder="Select UOM"
                                  Placeholder="Select UOM"
                                  name="UOM"
                                  [canClear]="true"
                                  (onClear)="SelectionClear($event)"
                                  ngModel>
                </ionic-selectable>
            </ion-item>
              <ion-item *ngIf="PageMenuDetails">
                            <ion-label position='floating'>View</ion-label>
                            <ionic-selectable [items]="PageMenuDetails[1].DropDownValues"
                                              itemValueField="Value"
                                              itemTextField="Text"
                                              [canSearch]="true"
                                              searchPlaceholder="Select View"
                                              Placeholder="Select View"
                                              name="View"
                                              [canClear]="true"
                                              (onClear)="SelectionClear($event)"
                                              ngModel>
                            </ionic-selectable>
                        </ion-item>
         
</ion-list>
        <ion-button expand="block" position="center" class="submit-btn"
                        full type="submit" [disabled]="!f_filter_21.form.valid" routerDirection="forward">
            Apply Filters
        </ion-button>
    </form>
</mat-card-content>
</mat-card>


                    <mat-accordion>
                        <mat-expansion-panel [expanded]="true" #table23>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    LATAM TreeTable
                                </mat-panel-title>
                                <mat-panel-description>
                        
                                   <!--  <div style="text-align: right">
                                        <input *ngIf="table23.expanded" (click)="$event.stopPropagation()" class="search-box" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                    </div> -->
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <form name="form" #f_datatable_2="ngForm" novalidate>
                                <mat-card>
                                    <mat-card-header class="new-background-color">
                                    </mat-card-header>
                                    <mat-card-content>
    <p-treeTable #tt [columns]="scrollableColsArray[0]" [frozenColumns]="frozenColsArray[0]" [rows]="2"
                 [value]="treetabledataArray[0]" [paginator]="true"   paginatorDropdownAppendTo="body" [scrollable]="true" 
                 frozenWidth="500px" scrollHeight="220px"
                 [rowsPerPageOptions]="[5,10,20,50]" [resizableColumns]="true"
                 [reorderableColumns]="true" columnResizeMode="expand" (onColResize)="resizeColumn($event,0)" [loading]="loading"
                 selectionMode="single" (onNodeSelect)="nodeSelect($event)">
        <!-- <ng-template pTemplate="caption">
        <div style="text-align: right">
            <input type="text" pInputText size="50" placeholder="Global Filter"
                (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template> -->
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" style="width:100px">
            </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [ttSortableColumn]="col.ColumnName" ttResizableColumn
                    style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;height: 40px;">
                    {{col.ColumnHeader}}
                    <p-treeTableSortIcon [field]="col.ColumnName"></p-treeTableSortIcon>
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns">
                    <input pInputText type="text"
                           (input)="tt.filter($event.target.value, col.ColumnName, col.filterMatchMode)">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                <td *ngFor="let col of columns; let i = index" [ttEditableColumn]="rowData"
                    style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
                    <div *ngIf="col.InputControls == 'TextBox' && col.InputControls!='HiddenField'">
                        <!-- <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler> -->
                        <p-treeTableCellEditor >
                            <ng-template pTemplate="input">
                                <input [readonly]="!rowData.parent" type="text"  [ngStyle]="!rowData.parent?rowData.style[col.ColumnName]:''" name='treefooterText'
                                [ngModel]="rowData[col.ColumnName]|number" (ngModelChange)="rowData[col.ColumnName]=$event" 
                                (focus)="nodeSelect(rowNode)" pInputText>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span [ngStyle]="!rowData.parent?rowData.style[col.ColumnName]:''" >{{rowData[col.ColumnName]| number}}</span>
                            </ng-template>
                        </p-treeTableCellEditor>
                    </div>
                    <div *ngIf="col.InputControls != 'TextBox' && col.InputControls!='HiddenField'">
                        <!-- <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler> -->
                        <p-treeTableCellEditor>
                            <ng-template pTemplate="input">
                                <span [ngStyle]="!rowData.parent?rowData.style[col.ColumnName]:''">{{rowData[col.ColumnName]| number}}</span>  
                            </ng-template>
                            <ng-template pTemplate="output">
                              <span [ngStyle]="!rowData.parent?rowData.style[col.ColumnName]:''">{{rowData[col.ColumnName]| number}}</span>  
                            </ng-template>
                        </p-treeTableCellEditor>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
            <tr>
                
                <td style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
                    <!-- <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler> -->
                    {{rowData["RegionId"]}}
                </td>
                <td style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
                    <!-- <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler> -->
                    {{rowData["Segment"]}}
                </td>
                        <td style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;text-align:left">
                            {{rowData["Pattern"]}}
                        </td>

                        <td style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
                            <!-- <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler> -->
                            {{rowData["ProductId"]}}
                        </td>
                       
                        <td style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
                            <!-- <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler> -->
                            {{rowData["Type"]}}
                        </td>
                      
                      
                
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
            <tr>
                <td *ngFor="let col of columns" [style.border]="col.FrozenCols==true?'0':'1px solid #c3c3c3'" >
                    <span *ngIf="col.FrozenCols==false" [ngStyle]="{color:'blue'}"> {{selectedNode?selectedNode[col.ColumnName]:0}}</span>
                </td>
            </tr>
            <tr>
                <td *ngFor="let col of columns" [style.border]="col.FrozenCols==true?'0':'1px solid #c3c3c3'">
                    <span *ngIf="col.FrozenCols==false" [ngStyle]="{color:'red'}"> {{differenceInNode.data?differenceInNode.data[col.ColumnName]:0}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div style="text-align: right;">
                <ion-button size="small"  type="submit" class="submit-btn" 
             
                (click)="SubmitTreeTable(21,null,tt, 21)" >Save</ion-button>
            </div>
        </ng-template>
    </p-treeTable>

</mat-card-content>
</mat-card>
</form>
</mat-expansion-panel>

            </mat-accordion>


</ion-content> 
