


<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="block" routerLink="/menu/first">Login</ion-button>
</ion-content>-->

<!-- <ion-header>
    <ion-toolbar class="new-background-color" align-title="center">
        <ion-title >Login</ion-title>
    </ion-toolbar>
</ion-header> -->



<ion-content padding >

    

  <ion-card  color="#d7eceb" class="message">
    <!-- <ion-card-header style="    font-size: x-large;
    font-weight: 600;">
      Data Savi
    </ion-card-header> -->
    <img style="width: 50%; margin-left: 25%; margin-top:2%" src="assets\icon\inquizity.png"/>
      <ion-card-content>
          <form #loginForm="ngForm" (ngSubmit)="loginUser($event)" autocomplete="off">
          
                          <ion-item>
                              <ion-label>  <ion-icon name="person"></ion-icon></ion-label>
                              <!--<ion-input name="username" id="loginField"
                                         type="text" required [(ngModel)]="username" #email></ion-input>-->
                                         <ion-input name="username" id="loginField" placeholder="Enter the UserName"
                                         type="text" required ngModel ></ion-input>
                          </ion-item>
                          <!--<ion-item>
                              <ion-label >  <ion-icon name="unlock"></ion-icon> </ion-label>
                            <ion-input name="password" id="passwordField"
                                         type="password" required [(ngModel)]="password"></ion-input>
                                         <ion-input name="password" id="passwordField" placeholder="************"
                                         type="password" required ngModel></ion-input>
                          </ion-item>-->

                          <ion-item class="i2"no-lines>
                                  <ion-label >  <ion-icon name="unlock"></ion-icon> </ion-label>
                              <ion-input type="{{type}}" name="password" id="passwordField" placeholder="************"
                              type="password" required ngModel style="width: 40px;" no-lines>
                            </ion-input>
                            <button *ngIf="!showPass" type="button" item-right (click)="showPassword()" style="   background: transparent;"> 
                              <ion-icon name="eye" style="font-size:25px;    background: transparent;"></ion-icon>
                            </button>
                            <button *ngIf="showPass"  type="button" item-right (click)="showPassword()" style="   background: transparent;"> 
                              <ion-icon name="eye-off" style="font-size:25px;    background: transparent;"></ion-icon>

                            </button>
                          </ion-item>



                      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                      <br>

                      <ion-button s
                      expand="block" position="center" class="submit-btn" full type="submit"
                                  [disabled]="!loginForm.form.valid" routerLink="/rolepage/first" routerDirection="forward">
                          Login
                      </ion-button>
                      <div *ngIf="show" id="cover" >
                          <div ng-show="showLoader" class="center">
                          <svg width="55px"  height="115px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;"><!--circle(cx="16",cy="50",r="10")--><circle cx="84" cy="50" r="0" fill="#ffcc33"><animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="42.6958" cy="50" r="10" fill="#7de6ea"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.7s"></animate></circle><circle cx="16" cy="50" r="7.85172" fill="#ffa570"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="-0.35s"></animate></circle><circle cx="84" cy="50" r="2.14828" fill="#d4e683"><animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle><circle cx="76.6958" cy="50" r="10" fill="#ffcc33"><animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate><animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.4s" repeatCount="indefinite" begin="0s"></animate></circle></svg>
                      
                               </div>
                         </div>
                         <!-- <button mat-raised-button color="primary"
                         [mdePopoverTriggerFor]="appPopover"
                         mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
                         Show Popover
                       </button>
                     
                       <mde-popover  [mdePopoverOverlapTrigger]="true">
                         <mat-card style="max-width: 300px">
                           <mat-card-content>
                           A material design popover component created using Angular version 8 with the Angular CDK.
                           </mat-card-content>
                         </mat-card>
                       </mde-popover> -->
          </form>

         
      </ion-card-content>
  </ion-card>

</ion-content>
