<ion-header>
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides #slides>
        <ion-slide>    
            <form name="form" (ngSubmit)="f.form.valid && onSubmit(f.value,60)" #f="ngForm" novalidate>
                <ion-item>
                    <ion-label position="floating"> Add Driver First Name </ion-label>
                    <ion-input type="string" name="DriverName" #DriverName217="ngModel" required ngModel pattern=""></ion-input>
                </ion-item>
                <div *ngIf="DriverName217?.invalid && (DriverName217?.dirty || DriverName217?.touched)"
                     class="error">
                    <div *ngIf="DriverName217?.errors?.required">
                        Add Driver First Name is required.
                    </div>
                    <div *ngIf="DriverName217?.errors?.pattern">
                        Add Driver First Name not valid.
                    </div>

                </div>
            
                <ion-button type="button" float-right class="submit-btn" [disabled]="!f.form.valid" (click)="Next()">Next</ion-button>
            </form>
        </ion-slide>

        <ion-slide>
            <form name="form" (ngSubmit)="f1.form.valid && onSubmit(f1.value,60)" #f1="ngForm" novalidate>
                <ion-item>
                    <ion-label position="floating"> Add Driver First Name </ion-label>
                    <ion-input type="string" name="DriverName" #DriverNam17="ngModel" required ngModel pattern=""></ion-input>
                </ion-item>
                <div *ngIf="DriverName17?.invalid && (DriverName17?.dirty || DriverName17?.touched)"
                     class="error">
                    <div *ngIf="DriverName17?.errors?.required">
                        Add Driver First Name is required.
                    </div>
                    <div *ngIf="DriverName17?.errors?.pattern">
                        Add Driver First Name not valid.
                    </div>

                </div>                           
                <ion-button type="button" float-left class="submit-btn" (click)="Prev()">Previous</ion-button>
                <ion-button type="button" float-right class="submit-btn" [disabled]="!f1.form.valid" (click)="Next()">Next</ion-button>
            </form>
           
        </ion-slide>
    </ion-slides>
    <!--<mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Enter your name</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Enter your address</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            Details taken.
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>-->

</ion-content>
