

<ion-menu contentId="content">
     
    <!--  <p-sidebar [visible]="true"> -->

         <p-panelMenu [model]="MenuData"    [multiple]="false"
          [style]="{'width':'300px', 'margin-top':'63px', 'padding-left':'4px'}"></p-panelMenu>
          <p-menubar [model]="SubMenu"></p-menubar>
          
<!-- </p-sidebar> -->


</ion-menu> 

<p-menubar [model]="SubMenu"></p-menubar>
<ion-router-outlet id="content" main> <p-menubar [model]="SubMenu"></p-menubar></ion-router-outlet> 

<!-- <ion-router-outlet id="content1" main1>   </ion-router-outlet>   -->
