<input #search id="search" type="text" class="form-control" (keydown.enter)="$event.preventDefault()" 
                                    style="width:100%" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
                                     spellcheck="off" type="text" >
                                    <agm-map  [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (onMapLoadEvent)="onMapLoadEventParent($event)">
                                        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                          (dragEnd)="markerDragEnd($event)"></agm-marker>
                                      </agm-map> 
                                      <label>{{latitude}},{{longitude}}</label> 
                                    