

#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.35);
    z-index: 5;
    width: 100%;
    height: 500%;
    //display:none;
    cursor: wait;
}

.message {
    // background-image: white;
    background: -webkit-linear-gradient(top, #ffffff, #fdf8ff);
    position: absolute;
    transform: translate(89%, 49%);
    width: 35%;
    text-align: center;
    padding: 3%;
    box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.new-background-color {
    --background: #ffb01a;
}
ion-content{
    font-family: Arial, Helvetica, sans-serif !important;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
ion-text,ion-col{
    margin: auto;
}
.showcase{
    border-right:1px solid gray;
    width:50%!important;
}
.login-side{
    width:50%!important;
    
}
ion-grid{
    //background: url(..\..\assets\images\Login-side.jpg);
}
ion-card{
    width:70%;
    margin:auto;
}
ion-icon{
    zoom: 1.3;
    margin-right:2px;
    color:black;
}
ion-button{
    --color:#ffffff !important;
}
h1{
    font-size:40px;
    margin-bottom: 20px;
    opacity: 0.5;
}
// .login-side{
//     background: url(D:\karan\Terrago\src\assets\images\login-side.jpg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-color:#eeeeee;
// }
ion-img{
    height: 400px;
    width: auto;
    margin:auto;
}
ion-button[type='submit']{
    -moz-appearance: none;
    -webkit-appearance: none;
}
.submit-btn {
    --background: #ffb01a;
    --color: #161b12;
}
button
{
    background-color:#0cd1e8;
    color:white;
}

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  .mat-horizontal-content-container,.mat-stepper-horizontal
  {
    background-color: var(--ion-color-base);
  }

  .mat-form-field
  {
    width: 100%;
  }
/*:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }
}

.paz {
    position: relative;
    z-index: 10;
}*/
@media screen and (max-width:760px){
    .login-side{
        width:100%;
    }
    .showcase{
        display: none;
        width:0;
    }
    ion-card{
        width: 95%;
    }
}
.blank{
    height: 20vh;
}
