<ion-header>
<ion-toolbar *ngIf="name!='login'">
        <ion-buttons slot="start">
                <ion-back-button defaultHref="/menu/first" (click)="back()" routerDirection="back"></ion-back-button>
            <ion-menu-toggle>
                <ion-menu-button></ion-menu-button>
             </ion-menu-toggle>
        </ion-buttons>
        <ion-title class="header-title">{{name| titlecase}}</ion-title>
        <ion-buttons slot="end" *ngIf="name!='registration'">
            <ion-button (click)="home()"><ion-icon slot="start" name="home"></ion-icon></ion-button>
            <ion-button tappable><ion-icon name="notifications" slot="start"></ion-icon></ion-button>
            <ion-button tappable (click)="logout()"><ion-icon name="log-out" slot="start"></ion-icon></ion-button>
        </ion-buttons>
</ion-toolbar>
<ion-toolbar *ngIf="name=='login'">
        <ion-title class="Login-title">ATG</ion-title>
</ion-toolbar>
</ion-header>