<ion-menu contentId="content">
     
    <!--  <p-sidebar [visible]="true"> -->

         <p-panelMenu [model]="MenuData" [multiple]="false"
          [style]="{'width':'300px', 'margin-top':'63px', 'padding-left':'4px'}"></p-panelMenu>


<!-- </p-sidebar> -->


</ion-menu> 

<ion-router-outlet id="content" main></ion-router-outlet> 